body{
    margin: 0px;
    background: radial-gradient(#d5e7f2, #dae8ed);
    font-family: "Poppins", "Montserrat";
    overflow-x: hidden;
}

#TopContainer{
    background: #304147;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 0;
    height: 230px;
    position: relative;
}

#Face{
    height: 220.08px;
    width: 170.08px;
    border: 5.1px solid #3f5259;
    display: inline;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0;
    margin-left: 25px;   
}

#NamingContainer{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 15px;
    margin-left: 250px;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

#LeftContainer{
    width: 180px;
    height: 1250px;
    margin-bottom: 0;
    background: #3f5259;
    margin-top: 0;
    margin-left: 25px;
    display: inline-block;
    position: absolute;
    padding-top: 0px;
}

.mfualogo{
    width: 140px;
    height: 140px;
    display: inline;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 15%; left: 0; bottom: 0; right: 0;
}

.mpeilogo{
    width: 140px;
    height: 140px;
    display: inline;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 47%; left: 0; bottom: 0; right: 0;
}

#Name{
    font-size: 1.4em;
    font-weight: bold;
    display: inline-block;
    color: white;
    text-decoration-line: underline;
    text-underline-position: under;
}

#Content{
    margin-left: 250px;
    margin-top: 0;
    display: inline-block;
    position: relative;
    position: absolute;
}

.education{
    font-weight: bold;
}

#dateend {
    font-weight: bold;
}

